@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Roboto');


//variables

//fonts
$main-font: 'Roboto', sans-serif;
$landing-font: 'Karla', sans-serif;

//colors
$primary: #cc0000;

